.relative {
    position: relative;
}

.try-on-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 8px;
    font-size: 0.75rem;
    font-weight: 600;
    background-color: #dc2626;
    /* Red-600 */
    color: #fff;
    border: 1.5px solid #b91c1c;
    /* Red-700 */
    border-radius: 6px;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: none;
}

.try-on-button:hover {
    background-color: #b91c1c;
    /* Red-700 */
}

.try-on-button:active {
    transform: translateY(1px);
    box-shadow: 2px 2px 0px black;
}